<% include partials/header.ejs %>

  <div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
    <div class="cards flex flex-wrap gap-10">

      <% posts.forEach(function(elem) { %>
        <div class="w-2"></div>
        <div class="card w-32">
          <div class="w-32 h-40 rounded-lg bg-red-500 overflow-hidden">
            <img class="w-full h-full object-cover" src="/images/uploads/<%= elem.image %>" alt="">
          </div>
          <h4 class="mt-3 text-sm text-center"><%= elem.title %></h4>
          <h3 class=" text-xs font-zinc-200 text-center text-zinc-400">@<%= elem.user.username%></h3>
        </div>
        <% }) %>
    </div>
  </div>

  <% include partials/footer.ejs %>